@font-face {
    font-family: "Poppins";
    src: url(./fuentes/Poppins-Medium.ttf);
    }	

body {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins";
    color: rgba(240, 240, 240, 0.75);  

    height: 100vh;
    width: 100%;

    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background-image: url("../HTML/img/FondoFormulario.jpg");
 
	
    /*overflow: hidden;*/
}

div.menu-sup {
    width: 100%;
    height: 6vh; 
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    z-index: 5;
}

ul.menu {
    list-style-type: none;
    margin: 0;                      
    height: 5.5vh;
    
}

li {
    font-weight: 700;
    float: right;
    margin-top: 1.4em;
    margin-right: 9em;
    
}
li.nombre {
    font-size: 1.5em;
    font-weight: 700;
    float: left;
    margin-top: 0.5em;
    margin-inline: 4em;

  
}

.menu-sup a {
    text-decoration: none;
    color: rgba(240, 240, 240, 0.75);
}




div.content {
    height: 94vh;
    width: 86%;
    position: absolute;
    top: 6vh;
    /*border: 2px black solid;*/
    margin-inline: 7%;
    
    display: flex;
    bottom: 20px;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 


form.form {
    border: white 2px solid;
    padding: 2em;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.301);

    text-align: center;
    color: rgb(40, 40, 40);
    font-weight: 700;

    background-color: #ffffff2d;
    display: grid;

 

}

.form-titulo {
    font-size: 2em;
    margin-bottom: .5em;
    cursor:auto;
}


div.inputs {
    margin-top: 3em;
    display: grid;
    gap: 2em;
}

.input-nombre, .input-apellido, .input-email {
    position: relative;
}

.input {
    width: 100%;
    background: none;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgrey;
    font-family: "Roboto";
    font-size: 1em;
    color: #26243b;


}

label {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 5px;
    transition: 1s;
    color: #26243b;  

}

.input:focus + label.input-label, .input:not(:placeholder-shown) + label.input-label {
    transform: translateY(-12px) scale(.8); 
    transform-origin: left top;
    color: #26243b;
    font-style: italic;



}


.form-submit {
    border: 2px white solid;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: "Roboto";
    padding: .8em .4em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: 1s;
    font-size: 1em;
}

.form-submit:hover {
    border: 2px #26243b solid;
    background-color: #26243b70;
    font-family: "Roboto";
    padding: .8em .4em;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

#textarea {
    resize: none;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px white solid;
    border-radius: 10px;
    outline: none;
    padding: 1em;
    margin: auto;
    width: 93%;
    font-family: "Roboto";
    margin-top: 10px;
    height: 5vh;
    color: #26243b;
}



label.label-textarea {
    position: relative;
    cursor:unset;


}

div.form-text {
    position: relative;
    text-align: left;
    height: 10vh;

}

div.form-radio {
    position: relative;
    height: 10vh;
    text-align: left;
} 

input#Noticias, input#web, input#Minijuegos, input#Otros, .form-radio label  {
    position: relative;
}

input#Noticias, input#web, input#Minijuegos, input#Otros {
    display: none;

}

.form-radio label {
    padding: 5px 15px 5px 50px;
    display: inline-block;
    transition: 1s;
    border-radius: 10px;

}

.form-radio label:hover {
    background-color: #26243b70;
    color: white;
    border-radius: 10px;
}

.form-radio label::before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    border: #26243B 3px solid;
    border-radius: 100%;
    position: absolute;
    left: 14px;
}

input#Noticias:checked + label, input#web:checked + label, input#Minijuegos:checked + label, input#Otros:checked + label {
    padding: 5px 15px;
    background-color:#26243B;
    color: white;
    border-radius: 10px;

}


input#Noticias:checked + label::before, input#web:checked + label::before, input#Minijuegos:checked + label::before, input#Otros:checked + label::before {
    display: none;
}


